force-app/main/04_architecturalPatterns/multiStepWorkflows/flows/CreateCustomerAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Generate_Customer_ID</name>
        <label>Generate Customer ID</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>customer_id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Customer_ID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customer_email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>Formula_Customer_ID</name>
        <dataType>String</dataType>
        <expression
        >&quot;CUST-&quot; &amp; LEFT({!$Flow.InterviewGuid}, 8)</expression>
    </formulas>
    <interviewLabel
    >CreateCustomerAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Customer Account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record</name>
        <label>Create Record</label>
        <locationX>175</locationX>
        <locationY>297</locationY>
        <inputAssignments>
            <field>Customer_ID__c</field>
            <value>
                <elementReference>customer_id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name__c</field>
            <value>
                <elementReference>name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>ASR_Customer_Onboarding__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Generate_Customer_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customer_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>customer_id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>success</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
</Flow>
